<div class="other-banner">
  <h1>Añade una nueva lista</h1>
</div>

<div class="container mt-1">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, label: "Nombre de la lista" %>
    <%= f.input :photo, label: "Introduzca foto de la lista", as: :file %>
    <%= f.submit "Crear lista", class: "btn btn-success mt-3" %>
  <% end %>
</div>
