.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.other-banner {
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  text-align: center;
}
.other-banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}
.container-main-home{
  width: 100%;
  height: calc(100vh - 71px);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 4%, rgba(0,0,0,0.6) 20%), url('https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-position: center;
  background-size: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color: white;
    text-shadow: 3px 3px black;
    font-weight: bold;
  }
}
