.count-movies{
  background-color: #FCBF49;
  padding: 8px 12px;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  position: absolute;
  right: 1rem;
  top: 5rem;

  &:hover{
  text-decoration: none;
  color: white;
  }
}
