.cards-lists {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-category-main  {
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card-category {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  width: 100%;
}
.card-category:hover{
  text-decoration: none;
  color: white;
}
.card-category-main:hover{
  opacity: 1;
}
.cards-bookmark{
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 400px;
}
.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-trip p {
  font-size: 13px;
  opacity: .7;
  margin: 0;
}
.card-trip .card-trip-infos {
  padding: 16px;
}.card-trip-delete{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-trip-infos-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 16px;
  }
}
.fa-star{
  color: yellow;
}
